In [112]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from time import sleep
import getpass

PATH = "/home/truong/chromedriver"
option1=Options()
option1.add_argument("--disable-notifications")
driver = webdriver.Chrome(executable_path=PATH,chrome_options=option1)
driver.get("https://www.facebook.com/")
driver.maximize_window()

/tmp/ipykernel_32620/1498125074.py:12: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=PATH,chrome_options=option1)
/tmp/ipykernel_32620/1498125074.py:12: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(executable_path=PATH,chrome_options=option1)

In [113]:
loginId = ""
my_password = getpass.getpass()

In [114]:
user_name = driver.find_element(By.XPATH,"//input[@type='text']")
user_name.send_keys(loginId)

password = driver.find_element(By.XPATH,"//input[@placeholder='Password']")
password.send_keys(my_password)

In [115]:
log_in_button = driver.find_element(By.XPATH,"//button[@type='submit']")
log_in_button.click()
sleep(5)

In [116]:
my_profile = driver.find_element(By.XPATH,"//span[text()='Quách Thế Trường']")
my_profile.click()
sleep(3)#"getpass.getpass()"

In [117]:
friendsTab = driver.get(driver.current_url+'/friends')
sleep(5)

In [118]:
friendsList = set()

my_friend = driver.find_elements(By.XPATH,"//div[@class='x1iyjqo2 x1pi30zi']")
while True:
    for friend in my_friend:
        friendsList.add(friend.text)
    driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')
    sleep(10)
    my_friend = driver.find_elements(By.XPATH,"//div[@class='x1iyjqo2 x1pi30zi']")
    if len(set(friendsList)) > 50:
        break

In [119]:
len(friendsList)

64

In [120]:
import pandas as pd
import numpy as np

df = pd.DataFrame(friendsList,columns=['names'])
# df.head()
df_new[['name','count']] = df['names'].str.split("\n",expand=True)
df_final = df_new[['name','count']]
df_final.shape

(104, 2)

In [126]:
df_final.head(70)

                name              count
0      Phạm Văn Hùng  23 mutual friends
1   Tran Tuyet Trinh  54 mutual friends
2           Chu Việt  47 mutual friends
3       Lê Đình Khoa  10 mutual friends
4     Kiều Đăng Minh  59 mutual friends
..               ...                ...
65               NaN                NaN
66               NaN                NaN
67               NaN                NaN
68               NaN                NaN
69               NaN                NaN

[70 rows x 2 columns]